<!DOCTYPE html>
<html>
<head>
	<title>About</title>
</head>
<body>
	<p>This dataset contains a list of 2,410 US craft beers and 510 US breweries.<br>
This data was collected in January 2017 from CraftCans.com.
<br>
The dataset is a tidy format and values have been cleaned up.
<br><br>beers.csv - Contains data on 2000+ craft canned beers
<br>breweries.csv - Contains data for 500+ breweries in the United States.
<br><br>
First, breweries.csv file was parsed to obtain information to create the next tables:<br>
1. States<br>
2. Cities<br>
3. Breweries
<br><br>
Next, beers.csv was parsed to create the following tables:<br>
4. BeerStyles<br>
5. BeerSizes<br>
6. Beers</p>

<h5>ERD:</h5>

<%= image_tag("erd.png") %>
</body>
</html>